node_modules/
templates/
*.json
*.sqlite
*.bat


# Silver APB (all purpose bot)

Silver APB is a all purpose bot with a range of different commands. There are music, economy and much more to come. The bot is stll a working progress. 
## Screenshots

![App Screenshot](https://cdn.discordapp.com/attachments/1176410822105387139/1179892352471531550/9gIzQ58.png?ex=657b6f62&is=6568fa62&hm=fb357ee85a289d0cd4cbfc7e64baa5b94f178c9a204d17c85b1e8f90b80383a2&)

